<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Some website </title>
</head>
<body>
    <h1> Groups </h1>
    <ul>
        {{#each groups}}
        <li> {{this.Navn}} </li>
        {{/each}}

    </ul>
</body>
</html>
